.Body {
  background-color: azure
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.Board {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding-left: 530px;
}

.Row-Board {
  display: flex;
  flex: 1;
}

.Row-Column {
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: center;
}

.Button-Column {
  display: flex;
  flex: 1;
  display: inline-block;
  background-color: #fff;
  font-size: 50px;
}